*
{
    margin: 10px;
}
body
{
    background-color: darkgray;
    color: teal;
    font-family: Cambria;
}
img
{
    width: 250px;
    height: 200px;
}
p
{
    background-color: bisque;
    margin: 5px;
    padding: 5px;
}